/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #eee;
  font: 13.34px "Sans Serif", Verdana, sans-serif;
  font-size: small;
  text-align: center;
}

h1 { font-size: 2em; margin-bottom: 0.75em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.25em; }
h4, h5, h6 { font-size: 100%; }
p { margin: 1em 0; }

a         { color: #36b; text-decoration: none; font-weight: bold; }
a:hover   { color: #8ad; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.desc {
  text-align: center;
  font-size: 1.15em;
  margin: 0 9% 1em 9%;
}

.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  background-color: #fff;
  padding: 25px 25px 25px 25px;
  font-size: 115%;
  text-align: left;
  max-width: 64em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.header {
  background: linear-gradient(#46a, #148);
  margin: -1em -1em 1.1em -1em;
}

.header a {
  font-weight: bold;
  text-decoration: none;
}

.title {
  display: inline-block;
  margin-top: 0.9em;
  margin-bottom: 0.9em;
  margin-left: 0.5em;
}

.title a {
  color: #fff;
  text-shadow: 2px 2px #000;
}

.title a:hover {
  text-shadow: 4px 4px #000;
}

.header a.extra {
  color: #fff;
  margin-left: 1em;
  text-shadow: 1px 1px #000;
}

.header a.extra:hover {
  text-shadow: 2px 2px #000;
}

.meta {
  margin-top: 0.5em;
  color: #aaa;
}

.footer {
  background-color: #cde;
  font-size: 80%;
  color: #666;
  border-top: 4px solid #148;
  margin: 2em -1em -1em -1em;
  overflow: hidden;
}

.footer .contact {
  float: left;
  margin-left: 1em;
  margin-right: 3em;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eee;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

code {
  border: 1px solid #ddd;
  background-color: #eee;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

.comment {
  border: 1px solid #ddd;
}

.comment .info {
  background-color: #eee;
}
