---
layout: default
title: Home
---

<div id="home">
  <p class="post">
    {{ site.description }}
  </p>

  <div class="post">
    <h1>Core Technologies</h1>

    <p>
    </p>
    <ul>
    <li><a href="https://github.com/bytedeco/javacpp">JavaCPP</a> &ndash; A tool that can not only generate JNI code but also build native wrapper library files from an appropriate interface file written entirely in Java. It can also parse automatically C/C++ header files to produce the required Java interface files.</li>
    </ul>
    <h1>Prebuilt Java Bindings to C/C++ Libraries</h1>
    These are part of a project that we call the <a href="https://github.com/bytedeco/javacpp-presets">JavaCPP Presets</a>. Many coexist in the same GitHub repository, and all use JavaCPP to wrap predefined C/C++ libraries from open-source land. The bindings expose almost all of the relevant APIs and make them available in a portable and user-friendly fashion to any Java virtual machine (including Android), as if they were like any other normal Java libraries. We have presets for the following C/C++ libraries:
    <ul>
    <li><a href="https://github.com/bytedeco/javacpp-presets/tree/master/opencv">OpenCV</a> &ndash; [<a href="https://github.com/bytedeco/javacpp-presets/tree/master/opencv#sample-usage">sample usage</a>] &ndash; More than 2500 optimized computer vision and machine learning algorithms</li>
    <li><a href="https://github.com/bytedeco/javacpp-presets/tree/master/ffmpeg">FFmpeg</a> &ndash; [<a href="https://github.com/bytedeco/javacpp-presets/tree/master/ffmpeg#sample-usage">sample usage</a>] &ndash; A complete, cross-platform solution to record, convert and stream audio and video</li>
    <li><a href="https://github.com/bytedeco/javacpp-presets/tree/master/flycapture">FlyCapture</a> &ndash; [<a href="https://github.com/bytedeco/javacpp-presets/tree/master/flycapture#sample-usage">sample usage</a>] &ndash; Image acquisition and camera control software</li>
    <li><a href="https://github.com/bytedeco/javacpp-presets/tree/master/libdc1394">libdc1394</a> &ndash; [<a href="https://github.com/bytedeco/javacpp-presets/tree/master/libdc1394#sample-usage">sample usage</a>] &ndash; A high-level API for DCAM/IIDC cameras</li>
    <li><a href="https://github.com/bytedeco/javacpp-presets/tree/master/libfreenect">OpenKinect</a> &ndash; [<a href="https://github.com/bytedeco/javacpp-presets/tree/master/libfreenect#sample-usage">sample usage</a>] &ndash; Open source library to use the Xbox Kinect</li>
    <li><a href="https://github.com/bytedeco/javacpp-presets/tree/master/videoinput">videoInput</a> &ndash; [<a href="https://github.com/bytedeco/javacpp-presets/tree/master/videoinput#sample-usage">sample usage</a>] &ndash; A free Windows video capture library</li>
    <li><a href="https://github.com/bytedeco/javacpp-presets/tree/master/artoolkitplus">ARToolKitPlus</a> &ndash; [<a href="https://github.com/bytedeco/javacpp-presets/tree/master/artoolkitplus#sample-usage">sample usage</a>] &ndash; Marker-based augmented reality tracking library</li>
    <li><a href="https://github.com/bytedeco/javacpp-presets/tree/master/chilitags">Chilitags</a> &ndash; [<a href="https://github.com/bytedeco/javacpp-presets/tree/master/chilitags#sample-usage">sample usage</a>] &ndash; Robust fiducial markers for augmented reality and robotics</li>
    <li><a href="https://github.com/bytedeco/javacpp-presets/tree/master/flandmark">flandmark</a> &ndash; [<a href="https://github.com/bytedeco/javacpp-presets/tree/master/flandmark#sample-usage">sample usage</a>] &ndash; Open-source implementation of facial landmark detector</li>
    <li><a href="https://github.com/bytedeco/javacpp-presets/tree/master/fftw">FFTW</a> &ndash; [<a href="https://github.com/bytedeco/javacpp-presets/tree/master/fftw#sample-usage">sample usage</a>] &ndash; Fast computing of the discrete Fourier transform (DFT) in one or more dimensions</li>
    <li><a href="https://github.com/bytedeco/javacpp-presets/tree/master/gsl">GSL</a> &ndash; [<a href="https://github.com/bytedeco/javacpp-presets/tree/master/gsl#sample-usage">sample usage</a>] &ndash; The GNU Scientific Library, a numerical library for C and C++ programmers</li>
    <li><a href="https://github.com/bytedeco/javacpp-presets/tree/master/llvm">LLVM</a> &ndash; [<a href="https://github.com/bytedeco/javacpp-presets/tree/master/llvm#sample-usage">sample usage</a>] &ndash; A collection of modular and reusable compiler and toolchain technologies</li>
    <li><a href="https://github.com/bytedeco/javacpp-presets/tree/master/leptonica">Leptonica</a> &ndash; [<a href="https://github.com/bytedeco/javacpp-presets/tree/master/leptonica#sample-usage">sample usage</a>] &ndash; Software useful for image processing and image analysis applications</li>
    <li><a href="https://github.com/bytedeco/javacpp-presets/tree/master/tesseract">Tesseract</a> &ndash; [<a href="https://github.com/bytedeco/javacpp-presets/tree/master/tesseract#sample-usage">sample usage</a>] &ndash; Probably the most accurate open source OCR engine available</li>
    <li><a href="https://github.com/bytedeco/javacpp-presets/tree/master/caffe">Caffe</a> &ndash; [<a href="https://github.com/bytedeco/javacpp-presets/tree/master/caffe#sample-usage">sample usage</a>] &ndash; A fast open framework for deep learning</li>
    <li><a href="https://github.com/bytedeco/javacpp-presets/tree/master/cuda">CUDA</a> &ndash; [<a href="https://github.com/bytedeco/javacpp-presets/tree/master/cuda#sample-usage">sample usage</a>] &ndash; Arguably the most popular parallel computing platform for GPUs</li>
     <li>Add here your favorite C/C++ library, for example: OpenNI, OpenMesh, PCL, etc. <a href="https://github.com/bytedeco/javacpp-presets/wiki/Create-New-Presets">Read about how to do that.</a></li>
    </ul>
    <p>We will add more to this list as they are made, including those from outside the <a href="https://github.com/bytedeco/javacpp-presets">bytedeco/javacpp-presets</a> repository.</p>
    <h1>Projects Leveraging the Presets Bindings</h1>
    <ul>
    <li><a href="https://github.com/bytedeco/javacv">JavaCV</a> &ndash; Library based on the JavaCPP Presets that depends on commonly used native libraries in the field of computer vision to facilitate the development of those applications on the Java platform. It provides easy-to-use interfaces to grab frames from cameras and audio/video streams, process them, and record them back on disk or send them over the network.</li>
    <li><a href="https://github.com/bytedeco/javacv-examples">JavaCV Examples</a> &ndash; Collection of examples originally written in C++ for the book entitled <em>OpenCV 2 Computer Vision Application Programming Cookbook</em> by Robert Laganière, but ported to JavaCV and written in Scala.</li>
    <li><a href="https://github.com/bytedeco/procamcalib">ProCamCalib</a> &ndash; Sample JavaCV application that can perform geometric and photometric calibration of a set of video projectors and color cameras.</li>
    <li><a href="https://github.com/bytedeco/procamtracker">ProCamTracker</a> &ndash; Another sample JavaCV application that uses the calibration from ProCamCalib to implement a vision method that tracks a textured planar surface and realizes markerless interactive augmented reality with projection mapping.</li>
    </ul>
    <p>
    </p>
  </div>

  <h1>More Project Information</h1>
  
    <p>Please refer to the <a href="contribute/">contribute</a> and <a href="download/">download</a> pages for more information about how to help out or obtain this software.</p>
	
	<p>See the <a href="https://github.com/bytedeco">developer site on GitHub</a> for more general information about the Bytedeco projects.</p>

  <h1>Latest News <a href="/feed.xml"><img src="/Feed-icon.png" alt="feed"/></a></h1>

  <!-- This loops through the paginated posts -->
  {% for post in paginator.posts %}
    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
    <p class="meta">{{ post.date | date: '%B %d, %Y' }}</p>
    <div class="post">
      {{ post.content }}
    </div>
  {% endfor %}

  <!-- Pagination links -->
  <nav id="pagination">
    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
      <a href="/" title="Previous Page">&laquo; Previous</a>
      {% else %}
      <a href="/page{{ paginator.previous_page }}/" title="Previous Page">&laquo; Previous</a>
      {% endif %}
    {% endif %}

    {% if paginator.next_page %} 
    <a href="/page{{ paginator.next_page }}/" title="Next Page">Next &raquo;</a>
    {% endif %} 
  </nav>
</div>
