<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Bytedeco - {{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

        <!-- Google Analytics -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-51601084-1', 'bytedeco.org');
          ga('send', 'pageview');
        </script>

    </head>
    <body>

        <div class="site">
          <nav class="header">
            <h1 class="title"><a href="/"><span><img src="/Bytedeco_hover.svg" alt="{{ site.name }}"/></span></a></h1>
            <a class="extra" href="/">home</a>
            <a class="extra" href="/about/">about</a>
            <a class="extra" href="/people/">people</a>
            <a class="extra" href="/contribute/">contribute</a>
            <a class="extra" href="/download/">download</a>
            <a class="extra" href="/builds/">builds</a>
            <a class="extra" href="/faq/">faq</a>
            <a class="extra" href="/news/">news</a>
          </nav>

          <div class="post">
          {{ content }}
          </div>

          <div class="footer">
            <div class="contact">
              <p>
                Email address:<br />
                <a href="mailto:contact at bytedeco.org">contact <code>at</code> bytedeco.org</a>
              </p>
            </div>
            <div class="contact">
              <p>
                Developer site:<br />
                <a href="https://github.com/bytedeco">https://github.com/bytedeco</a>
              </p>
            </div>
            <p>
              Project created in 2014<br/>by Samuel Audet and friends
            </p>
          </div>
        </div>

    </body>
</html>
